body {
    background-color: #A90306;
    font-family: 'Orbitron', sans-serif;
}

.jumbotron {
    background-color: gray;
    border-bottom: 10px solid red;
    border-top: 10px solid red;
    color: white;
    margin-bottom: 0;
    padding: 0;
    text-shadow: 0 5px 10px rgba(10, 20, 0, .8);
}

.containerj {
    padding: 48px;
}

.container-fluid {
    background-color: silver;
}

.img-1 {
    width: 40%;
}

.img-2 {
    max-width: 20%;
}

iframe {
    margin-left: 400px;
    margin-right: 400px;
}

.mail {
    text-align: center;
}

.bt {
    color: black;
    font-size: 20px;
}

.footer {
    background-color: #333;
    color: white;
    font-family: 'Play', sans-serif;
}

.frm {
    font-family: 'Play', sans-serif;
    font-size: 30px;
}

/*
.dev-1 {
    float: left;
    width: 60%;
}
*/


/* ============================================================
  PRIMARY STRUCTURE
============================================================ */

.container {
    margin: 0 auto;
    max-width: 1260px;
    padding-top: 160px;
}

.container2 {
    background-color: #A90306;
    margin: 0 auto;
    max-width: 1160px;
    padding-bottom: 30px;
}


/* ============================================================
  SECTIONS
============================================================ */

section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
    color: white;
    /*    float: left;*/
    font-family: 'Play', sans-serif;
    font-size: 42px;
    margin-bottom: 40px;
    text-decoration: underline;
}

section.module p {
    color: white;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    /*    margin-bottom: 40px;*/
    /*    width: 60%;*/
    /*    float: left;*/
}

section.module p:last-child {
    margin-bottom: 0;
}

section .module {
    background-color: #A90306;
    /*    padding-bottom: 420px;*/
    padding-top: 30px;
}

section.parallax {
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

section.parallax h1 {
    color: rgba(255, 255, 255, 0.85);
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.parallax-1 {
    background-image: url("img/grey.jpg");
    /*    border-top: 5px solid black;*/
}

@media all and (min-width: 600px) {
    section.module {
        font-size: 42px;
    }
    section.module p {
        font-size: 20px;
    }
    section.parallax {
        font-size: 100px;
        text-shadow: 0 5px 10px rgba(10, 20, 0, .8);
    }
}

@media all and (min-width: 960px) {
    section.parallax {
        font-size: 100px;
    }
}

section {
    background-color: #A90306;
}


/*=================================================
Hamburger Menu
==================================================*/

.first {
    opacity: .8;
    position: fixed;
    right: 0;
}

/*
,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*/

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}


/*
html, body {
 height: 100%;
}
*/

body {
    background-color: #fff;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
    margin: 0 auto;
    max-height: 255px;
    max-width: 212px;
}

nav {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 100px;
}

ul a {
    color: #aaa;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    text-align: left;
    text-decoration: none;
}

ul a:hover {
    background: #eee;
    color: red;
}

nav li {
    float: left;
    width: 20%;
}


/*---------------------------------------------------------
 Media Queries Hamburger
----------------------------------------------------------- */

@media only screen and (max-width: 2080px) {
    .hamburger {
        background-color: black;
        cursor: pointer;
        display: block;
        padding: 15px;
    }
    .line {
        border-bottom: 4px solid #bbb;
        cursor: pointer;
        margin-bottom: 6px;
        width: 35px;
    }
    .line:last-child {
        margin-bottom: 0;
    }
    /* Our styles here */
    nav li {
        width: 100%;
    }
    .menu {
        border-right: 1px solid grey;
        color: #555;
        float: left;
        font: 1em 'Roboto', sans-serif;
        height: 0;
        overflow: hidden;
        transition: height 0.3s;
    }
    .open {
        height: 295px;
    }
}